<footer>
	<p>
		~  Concocté avec &#128154; et &#9749; par Teillier Axel  ~
        <br>
        Réalisé au cours de la formation CDA du Greta de Montpellier
        <br>
		Tous droits réservés © 2021 </p>

</footer>
