{% extends "base.html.twig" %}

{% block content %}

{{ form_open() }}

<h2>Ajouter un tag</h2>

<h5>Nom du tag</h5>
<input name="tag_name" value="" type="text">

<button type="submit"> Submit </button>

{{ form_close }} 

{% endblock %}