{% extends "base.html.twig" %}

{% block content %}

<h2>{{ tag.tag_name }}</h2>

<ul>
<li><a href= "{{ base_url('/tag/'~ tag.id_tag ~ '/edit/')}}">Modifier </a></li>
{# <li><a href= "{{ base_url('/tag/'~ tag.id_tag ~ '/delete/')}}">Supprimer </a></li> #}
</ul>

{% endblock %}