<!DOCTYPE html>
<html>
	<head>
		{{ include('/templates/head.html.twig') }}
		{{ include('/styles/app.css.twig') }}
	</head>

	<body>

		{{ include('/templates/navbar.html.twig') }}

		<main id="content"> {% block content %}{% endblock %}
			</main>


			{{ include('/templates/footer.html.twig') }}

		
		{% block script %}{% endblock %}
	
	</body>
</html>


